

<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">    
       <!-- Title of an Card -->    
       <title mat-dialog-title >  {{pageTitle}} </title>
                 
        <form [formGroup]="sprintForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()" fxLayout="column wrap"
            fxLayoutAlign="center" fxLayoutGap="20px">
           <mat-dialog-content>  
              <mat-form-field>
                <input matInput type="text" placeholder="SprintName" formControlName="sprintName" id="name">
                <mat-hint align="end">Not less then 5 characters .</mat-hint>
                <mat-error *ngIf="hasError('sprintName','required')">sprintName is required</mat-error>
                <mat-error *ngIf="hasError('sprintName', 'minlength')">Please enter min 5 characters</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput type="number" placeholder="Sprint Points" formControlName="sprintPoints">
                <mat-hint align="end">Not more then 4 characters long.</mat-hint>
                <mat-error *ngIf="hasError('sprintPoints', 'required')">SprintPoints are required</mat-error>
              </mat-form-field> 

              <mat-form-field>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a StartDate" formControlName="startDate" id="startDate" 
                    readonly (click)="picker.open()"  (dateInput)="addEvent($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [startAt]="minDate"></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <input matInput [min]="minEndDate" [max]="maxDate" [matDatepicker]="endatepicker" placeholder="Choose a EndDate" formControlName="endDate" id="EndDate" 
                    readonly (click)="endatepicker.open()">
                <mat-datepicker-toggle matSuffix [for]="endatepicker"></mat-datepicker-toggle>
                <mat-datepicker #endatepicker [startAt]="minDate"></mat-datepicker>
              </mat-form-field> 

              <!-- <mat-form-field>
                <mat-select matInput placeholder="Sprint Status" formControlName="sprintStatusId" name="sprintStatus">
                  <mat-option *ngFor="let status of SprintStatus" [value]="Status.sprintStatusId">
                    {{ status.SprintStatusName }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              
                <mat-form-field>
                    <mat-label>Select an option</mat-label>
                    <mat-select  formControlName="sprintStatusId">
                        <mat-option *ngFor="let status of SprintStatus" [value]="status.sprintStatusId">
                            {{ status.sprintStatusName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
           </mat-dialog-content>    
  
           <mat-dialog-actions align="center">
               
             <div *ngIf="AddButton; else EditButton">
             <button mat-raised-button color="primary" [disabled]="!sprintForm.valid">Create</button>
            </div>
            <ng-template #EditButton>
              <button mat-raised-button color="primary" >Edit</button>
            </ng-template>
             <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Close</button>
           </mat-dialog-actions>

        </form>  
        
    </mat-card>  
</section>
