
<!-- <mat-toolbar color="purple">    
    <span>Add sprint</span>    
    <span class="demo-toolbar"></span>       
    
</mat-toolbar>     -->
<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">    
       <!-- Title of an Card -->    
       <title mat-dialog-title >    AddEdit Release  </title>
                 
        <form [formGroup]="releaseForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()" fxLayout="column wrap"
            fxLayoutAlign="center" fxLayoutGap="20px">
           <mat-dialog-content>  
              <mat-form-field>
                <input matInput type="text" placeholder="releaseName" formControlName="releaseName" id="name">
                <mat-hint align="end">Not less then 5 characters .</mat-hint>
                <mat-error *ngIf="hasError('releaseName','required')">releaseName is required</mat-error>
                <mat-error *ngIf="hasError('releaseName', 'minlength')">Please enter min 5 characters</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a StartDate" formControlName="startDate" id="startDate" 
                    readonly (click)="picker.open()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <input matInput [matDatepicker]="endatepicker" placeholder="Choose a EndDate" formControlName="endDate" id="EndDate" 
                    readonly (click)="endatepicker.open()" >
                <mat-datepicker-toggle matSuffix [for]="endatepicker"></mat-datepicker-toggle>
                <mat-datepicker #endatepicker></mat-datepicker>
              </mat-form-field> 

              <mat-form-field>
                    <mat-label>Select an option</mat-label>
                    <mat-select [(value)]="selected"  formControlName="sprintStatusId">
                        <mat-option *ngFor="let status of SprintStatus" [value]="status.sprintStatusId">
                            {{ status.sprintStatusName }}
                        </mat-option>
                    </mat-select>
              </mat-form-field>
           </mat-dialog-content>    
  
           <mat-dialog-actions align="center">
               
            <div *ngIf="AddButton; else EditButton">
             <button mat-raised-button color="primary" [disabled]="!releaseForm.valid">Create</button>
            </div>
            <ng-template #EditButton>
              <button mat-raised-button color="primary" >Edit</button>
            </ng-template>
             <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Close</button>
           </mat-dialog-actions>

        </form>  
        
    </mat-card>  
</section>
